@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: "poppins",sans-serief;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(drop.jpg);
    background-size: cover;
    background-position: center;
}
input{
    color: rgb(52, 17, 228);
    width: 100%;
    border: #0a0a0f;
    height: 25px;
    
}

.content{
    max-width: 650px;
    margin: 40px 100px;
}
.content .info h2{
    position: relative;
    top: 50%;
    left: 70%;
    color:rgb(10, 233, 14);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;

}
form
{
    position: relative;
    top:50%;
    left: 50%;
    color: #0a0a0f;
    margin: 10px;
    padding: 10px;
}
button{
    border-radius: 4px;
    color: rgb(232, 232, 240);
    background-color: #2415c7;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    left: 45%;
    margin: 5px;
    width: 50px;
}
h3{
    position: absolute;
    top: 80%;
    left: 14%;
    color: rgb(8, 14, 31);
}
.media-icons{
    position: relative;
    top:50%;
    left: 44%;
   
}
.media-icons a{
    position: relative;

    font-size: 25px;
    transition: 0.3s;
    transition-property: transform ;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
    color: rgb(24, 5, 77);
}
 .margin-icons a:hover{
    transform: scale(1.5);
}

@media screen and (max-width:700px)
{
.list{
    width: 100%;
    float: none;
}
}
